<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8731/MyService"
                binding="netTcpBinding"
                contract="Example.Contracts.IMyService"
                name="myServiceEp" />
      <endpoint address="net.tcp://localhost:8731/MySecondService"
                binding="netTcpBinding"
                contract="Example.Contracts.IMySecondService"
                name="mySecondServiceEp" />
      <endpoint address="net.tcp://localhost:8731/MyThirdService"
                binding="netTcpBinding"
                contract="Example.Contracts.IMyThirdService"
                name="myThirdServiceEp" />
    </client>
  </system.serviceModel>
</configuration>