<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <extensions>
      <behaviorExtensions>
        <add name="loggingBehavior"
             type="WcfLogPrints.LoggingBehaviorExtensionElement, WcfLogPrints, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>

    <services>
      <service name="Example.Services.MyService">
        <endpoint address="net.tcp://localhost:8731/MyService"
                  binding="netTcpBinding"
                  contract="Example.Contracts.IMyService" />
      </service>
      <service name="Example.Services.MySecondService"
               behaviorConfiguration="myServiceBehavior">
        <endpoint address="net.tcp://localhost:8731/MySecondService"
                  binding="netTcpBinding"
                  contract="Example.Contracts.IMySecondService" />
      </service>
      <service name="Example.Services.MyThirdService" >
        <endpoint address="net.tcp://localhost:8731/MyThirdService"
                  binding="netTcpBinding"
                  contract="Example.Contracts.IMyThirdService" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="myServiceBehavior">
          <loggingBehavior logInformation="false"
                           loggingStrategyType="Example.Services.FileLoggingStrategy, Example.Services"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>